<div class="page-header">
  <div class="input-group">
    <input type="search" placeholder="Search" class="form-control">
    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
  </div>

  <br/>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Layer <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Oldest</a></li>
      <li><a href="#">Youngest</a></li>
      <li><a href="#">Intersection</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Rover <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tires</a></li>
      <li><a href="#">Body</a></li>
      <li><a href="#">Tracks</a></li>
    </ul>
  </div>
</div>
 
<div id="my-images">
  <%= render partial: "image", collection: @images %>
</div>
 
<div id="infinite-scrolling">
  <%= will_paginate @images %>
</div>