<div class="page-header">
<form action="/explore/gallery_by_tag" method="GET">
  <div class="input-group">
		<input type="search" name="tag" placeholder="Search" class="form-control">
		<span class="input-group-addon" onclick="document.forms[0].submit(); return false"><span class="glyphicon glyphicon-search"></span></span>
  </div>
</form>

  <br/>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Layer <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Oldest</a></li>
      <li><a href="#">Youngest</a></li>
      <li><a href="#">Intersection</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      Rover <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Tires</a></li>
      <li><a href="#">Body</a></li>
      <li><a href="#">Tracks</a></li>
    </ul>
  </div>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "http://twitter.com/home?status=NASA Mars Image #{request.original_url} %23v4mars" do %>
      <%= image_tag('twitter.png') %>
  <% end %>
</div>

<div id="my-images">
  <%= render partial: "image", collection: @images %>
</div>
 
<div class="container">
  <%= will_paginate @images %>
</div>