    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-image: url(assets/mars3.jpg); background-size: 100%;">
      <div class="container">
        <br/><br/><br/><br/><br/><br/><br/>
        <p>The Mars rovers Curiosity and Opportunity have been on the move capturing fantastic photos of the Red planet for years. Help us find martian activities and become Mars Scitizens!</p>
        <p><%= link_to "<button type='button' class='btn btn-primary btn-lg'>Go Explore</button>".html_safe, gallery_explore_index_url %></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "image_highlight_1.jpg", :class => "img-circle img-highlight" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "image_highlight_2.jpg", :class => "img-circle img-highlight" %>
        </div>
        <div class="col-md-4">
          <%= image_tag "image_highlight_3.jpg", :class => "img-circle img-highlight" %>
        </div>

      </div>

      
    </div>
